html {
	position: relative;
	height: 100%;
}

body {
	position: relative;
	padding:50px 0 34px 0;
	min-height: 100%;
}

h1, h2 {
	margin: 10px 0;
}

.panel.login {
	margin:40px 0 0 0;
}

.navbar {
	margin:0;
}

.nav .active {
	background:#EEEEEE;
}

.sidebar {
	position: fixed;
	padding: 0;
	background: #E0E0E0;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 100%;
}

.content {
	padding-bottom: 20px;
}

#tpl-content {
	min-height: 100%;
}

#tpl-footer {
	position:absolute;
	bottom: 0;
	width: 100%;
	margin:0;
	z-index: 2000;
}

.footer {
	padding:10px;
	background: #555555;
	text-align: center;
	color:#FFFFFF;
	font-size: 10px;
}

.form .has-error small.error {
	color:#a94442;
	font-style: italic;
}

.form-delete {
	display:inline;
}

span.true {
	color:#10C900;
}

span.false {
	color:#FF0000;
}

@media ( max-height : 200px) {
	.sidebar {
		position: relative;
	}
}